@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Variables */

:root {
    --gold-clr: rgb(172,138, 68);
    --navy-blue-clr: rgb(18,29,42);
    --medium-gray-clr: rgb(191,190,190);
    --panel-gradient-transparent: linear-gradient(to bottom, rgba(18, 29, 42, .6), 60%, rgba(172, 138, 68, .5));
    --panel-gradient: linear-gradient(to bottom, rgb(18, 29, 42), 60%, rgb(172, 138, 68));
}

/* General Styles */

body {
    width: 100%;
    height: 100%;
    background: url('../img/main-bg.jpg'), linear-gradient(to bottom, rgb(191, 216, 216, .7), 40%, rgba(18, 29, 42, 1) 90%);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

main {
    position: relative;
    width: 100%;
    height: 92vh;
    font-family: 'Ubuntu', sans-serif;

}

img {
    max-width: 100%;;
}

/* Class Styles */

.cs-about {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em 3em;
    width: 33%;
    height: 100%;
    z-index: 10;
}

.cs-logo-container {
    display: flex;
    align-items: center;
}

.cs-logo-container img {
    width: 3em;
}

.cs-logo-container h1 {
    margin-left: .3em;
    font-size: 2rem;
    color: #fff;
    flex-shrink: 0;
}

.cs-about__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20em;
}

.cs-about__text h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    color: #ffffff;
}

#bitcoin-bag-svg {
    width: 12em;
}

/* Main */

.main-selection {
    width: 100%;
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 100%;
    right: 0;
    z-index: 20;
}

.main-selection__panel {
    position: relative;
    width: 100%;
}

.main-selection__panel:first-child {
    z-index: 1;
    right: -26%;
}

.main-selection__panel:nth-child(2) {
    z-index: 2;
    right: -13%;
}

.main-selection__panel:last-child {
    z-index: 3;
    right: 0;
}

.main-selection__front {
    padding: 2em 0;
    color: #fff;
    background: var(--panel-gradient-transparent);
    height: 100%;
    clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0 100%);
    transition: opacity .2s ease-out;
}

.main-selection__front img {
    position: absolute;
    width: 45%;
    right: 25%;
    bottom: 8%;
}

.main-selection__panel:last-child .main-selection__front {
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
}

.main-selection__backface {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    top: 0;
    opacity: 0;
    z-index: 50;
    background: var(--panel-gradient);
    overflow: hidden;
    height: 100%;
    width: 100%;
    clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0 100%);
    transition: opacity .2s linear;
}

.main-selection__panel:last-child .main-selection__backface {
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
    width: 100%;
}

.main-selection__backface video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .2;
}

.main-selection__title {
    text-transform: uppercase;
    font-size: 1.4rem;
    position: relative;
    left: 45%;
    max-width: 50%;
    color: #fff;
}

.main-selection__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    margin-left: 10%;
    max-width: 50%;
    height: 100%;
    color: #fff;
}

.main-selection__panel:last-child .main-selection__wrapper {
    margin-left: 25%;
    max-width: 60%;
}

.main-selection__wrapper h3 {
    font-size: 2.5rem;
    position: relative;
    left: -15%;
    flex-shrink: 0;
}

.main-selection__wrapper p {
    word-break: break-all;
    text-align: justify;
    width: 100%;
    height: 10em;
}

.main-selection__wrapper p::before {
    content: "";
    float: left;
    width: 100%;
    height: 100%;
    background-color: transparent;
    shape-outside: polygon(17% 0, 0 0, 0 100%);
    clip-path: polygon(17% 0, 0 0, 0 100%);
}

.button-readmore {
    margin-top: 1em;
    position: relative;
    left: -1em;
    width: 5em;
    height: 5em;
    background-color: transparent;
    border-style: none;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: #fff;
}

.main-selection__panel i {
    transition: transform .2s linear;
}

.main-selection__panel:hover i {
    transition: transform .3s ease-in;
    transform: translateY(.2em) scaleY( 1.2);
}

/* Crew Card */

.crew-card {
    width: 13em;
    cursor: pointer;
    height: 16em;
    position: relative;
    border: 2px solid rgb(172,138, 68);
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background: url('../img/crewpics/profilepic-example.jpg') no-repeat;
    background-color: rgba(206, 206, 206, 1);
    background-size: 50%;
    background-position: center;
}

.crew-card__front {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity .3s linear;
}

.crew-card__name {
    position: absolute;
    font-size: 1.2rem;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: rgba(18, 29, 42, .6);
}

.crew-card__name i {
    margin-right: .8em;
    font-size: .8em;
}

.crew-card__name h3 {
    padding: .4em;
}

.crew-card__name p {
    width: 100%;
    padding: .3em;
    background-color: rgba(18, 29, 42, .6);
}

.crew-card__back {
    opacity: 0;
    transition: opacity .1s linear;
    position: absolute;
    width: 100%;
    height: 100%;
}

.crew-card__back .crew-card__name {
    position: relative;
    top: 0;
}

.crew-card__about {
    padding: 1em 1.2em;
    font-size: 1rem;
    line-height: 1.3;
}

.crew-card__social {
    display: flex;
    justify-content: space-around;
    padding: 1em 4em;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Crew Card Hover */

.crew-card:hover {
    background-color: rgba(134, 134, 134, 0.4);
}

.crew-card:hover .crew-card__front {
    transition: opacity .1s linear;
    opacity: 0;
}

.crew-card:hover .crew-card__back {
    opacity: 1;
    transition: opacity .7s ease-out;
    z-index: 20;
}

/* Modal Window */

.modalWindow {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172, 138, 68, 0);
}

.modalWindow.active {
    display: flex;
    z-index: 20;
}

.modalWindow .main-selection__backface {
    position: relative;
    width: 40%;
    opacity: 1;
}

.modalWindow > .main-selection__backface h3 {
    font-size: 2rem;
    left: 17%;
    text-transform: none;
}

.modalWindow__content {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    right: 0;
    padding: 2em 0 2em 18%;
    width: 76%;
    height: 100%;
    background: var(--panel-gradient);
}

.team-panel {
    margin: 10% 0 0 20%;
    height: 30%;
    font-size: 2rem;
    color: #fff;
}

/* .modalWindow__content > p {
    margin-left: 14%;
    word-break: break-all;
    width: 85%;
    height: 50%;
    color: #fff
}

.modalWindow__content p::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    shape-outside: polygon(16% 0, 0 0, 0 100%);
    clip-path: polygon(16% 0, 0 0, 0 100%);
    float: left;
}
*/


/* Subscription Form */

#formularioSubscripcion {
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

#formularioSubscripcion label {
    margin: .4em 0;
}

#formularioSubscripcion input {
    padding: .4em .5em;
    border-radius: 4px;
    border: none;
    outline: none;
}

#formularioSubscripcion input:hover {
    outline: 2px solid var(--gold-clr)
}

#formularioSubscripcion button {
    border: none;
    border-radius: 4px;
    background-color: var(--gold-clr);
    font-size: 1.2rem;
    color: #fff;
    padding: .5em 1em;
}

#formularioSubscripcion button:hover {
    filter: brightness(120%);
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 8vh;
    width: 100%;
    background-color: rgba(191,190,190,.2);
    border-top: 1px solid var(--gold-clr);
    font-family: 'Ubuntu', sans-serif;
}

footer ul {
    display: inline-flex;
    height: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

footer ul li {
    height: 100%;
    padding: 0 1.5em;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #fff;
    z-index: 10;
}

footer ul i {
    margin-right: .6em;
    font-size: 1.6em;
}

footer ul span {
    font-size: 1.8rem;
    line-height: .9;
    font-weight: 500;
}


footer ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform .4s ease-out;
    transition-delay: .2s;
    transform-origin: center;
    z-index: -1;
    background-color: var(--gold-clr);
}

footer ul li:hover::before {
    transform: scale(1);
    transition: transform .2s ease-out;
    transform-origin: center;
}

.coin-info {
    display: flex;
    background-color: #e7e7e7;
    height: 100%;
    color: #121d2a;
}

.coin-info__name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1.5em;
    width: 50%;
    border-left: 1px solid var(--gold-clr);
}

.coin-info img {
    height: 2em;
}

.coinPrice {
    margin-left: .6em;
    font-size: 1.8rem;
    line-height: .9;
    font-weight: 500;
    flex-shrink: 0;
}

.priceArrow {
    margin-left: .6em;
    width: 1.5rem;
    height: 1.5rem;
}

/* Hover */

.main-selection__panel:hover .main-selection__front {
    opacity: 0;
    transition: opacity .2s linear;
}

.main-selection__panel:hover .main-selection__backface {
    z-index: 100;
    opacity: 1;
    animation: ancho .5s ease-out;
    animation-fill-mode: forwards;
    transition: opacity .4s ease-out;
    
}

@keyframes ancho {
    from {
        right: 0;
        width: 100%;
    }
    to {
        right: 0;
        width: 120%;
        clip-path: polygon(33% 0, 100% 0%, 67% 100%, 0 100%);
    }
}

.main-selection__panel:last-child:hover .main-selection__backface {
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
    width: 100%;
    animation: none;
    transform: none;
}

.main-selection__panel:hover .main-selection__wrapper {
    transition: opacity .6s ease-in;
    opacity: 1;
}


/* Media Queries */

@media screen and (max-width: 920px) {

body {
    background-position: 50% 0%;
    background-size: 200%;
    background-repeat: repeat-y;
}

main {
    height: 100%;
}

.cs-about {
    width: 100%;
    position: relative;
}

.cs-about__text {
    margin: 3em 0 1.5em;
}

#bitcoin-bag-svg {
    display: none;
}

.main-selection {
    flex-direction: column;
    position: relative;
}

.main-selection__panel:first-child,
.main-selection__panel:nth-child(2),
.main-selection__panel:last-child {
    right: 0;
}

.main-selection__panel:last-child .main-selection__front {
    clip-path: none;
}

.main-selection__panel:hover .main-selection__front{
    opacity: 1;
}

.main-selection__front {
    clip-path: none;
}

.main-selection__backface {
    transform: scaleY(0);
}

.main-selection__panel:hover .main-selection__backface {
    position: relative;
    transition: transform .4s ease-out;
    transform-origin: top;
    transform: scaleY(1);
    clip-path: none;
    animation: none;
    top: 100%;
}

.main-selection__panel:first-child .main-selection__backface {
    display: none;
}

.main-selection__panel:first-child::before {
    content: "112302500";
    padding: .8em 0;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    background: var(--panel-gradient);
    z-index: 1;
    opacity: 0;
}

.main-selection__panel:first-child:hover::before {
    opacity: 1;
    transition: transform .5s ease-out, opacity .5s ease-out;
    transform: translateX(-100%);
}

.main-selection__panel:last-child:hover .main-selection__backface {
    clip-path: none;
}

.main-selection__wrapper {
    max-width: 80%;
    margin-left: 0;
}

.main-selection__panel:last-child .main-selection__wrapper {
    margin-left: 0;
}

.main-selection__wrapper h3 {
    display: none;
}

.main-selection__wrapper p {
    height: 100%;
}

footer {
    flex-direction: column;
    height: 100%;
}

footer ul {
    flex-direction: column;
    width: 100%;
    padding: 1em 0;
}

footer ul li {
    padding: 1.5em;
    width: 100%;
    justify-content: center;
}

.bitcoin-info {
    width: 100%;
}

}

@media screen and (min-width: 1600px) {

    .cs-about {
        padding: 3em;
    }

    .cs-logo-container img {
        width: 3.5em;
    }

    .cs-logo-container h1 {
        font-size: 2.5rem;
    }

    .cs-about__text {
        max-width: 24em;
    }

    .cs-about__text h2 {
        font-size: 2.5rem;
    }

    #bitcoin-bag-svg {
        width: 15em;
    }
}