@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Variables */



/* General Styles */

body {
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    width: 100%;
    height: 92vh;
    background: url('../img/main-bg.jpg'), linear-gradient(to bottom, rgb(216, 216, 216, .7), 40%, rgba(18, 29, 42, .8) 90%);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center 40%;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

img {
    max-width: 100%;;
}

/* Class Styles */

.cs-about {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    z-index: 10;
}

.cs-logo-container {
    height: 50%;
    padding: 1em 2.5em;
}

.cs-logo-container img {
    width: 24em;
}

.cs-about__text {
    position: relative;
    max-width: 80%;
}

.cs-about__text h2 {
    font-size: 2rem;
    font-weight: 500;
    max-width: 9.6em;
    line-height: 1.1;
    color: #ffffff;
}

#cripto-wallet-svg {
    display: block;
    margin: 1.5em auto;
    width: 6em;
    filter: invert(100);
}

/* Main */

.main-selection {
    width: 120%;
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 100%;
    right: 0;
    z-index: 20;
}

.main-selection__item {
    position: relative;
    padding: 1.5em 0;
    color: #fff;
    transition: transform .3s ease-out;
}

.main-selection__title {
    text-transform: uppercase;
    font-size: 1.5rem;
    position: relative;
    left: 45%;
    max-width: 36%;
}

.main-selection__wrapper {
    display: flex;
    margin-top: 1.8em;
    transition: opacity .7s ease-in;
    opacity: 0;
    position: relative;
    left: 30%;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

.main-selection__wrapper p {
    word-break: break-all;
    text-align: justify;
    width: 100%;
    height: 10em;
}

.main-selection__wrapper p::before {
    content: "";
    float: left;
    width: 100%;
    height: 100%;
    background-color: transparent;
    shape-outside: polygon(20% 0, 0 0, 0 100%);
    clip-path: polygon(20% 0, 0 0, 0 100%);
}


.main-selection__item:first-child {
    background: linear-gradient(to bottom, #121d2a, 60%, #8f7239);;
    clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0 100%);
    right: -38%;
}

.main-selection__item:nth-child(2) {
    background: linear-gradient(to bottom, #121d2a, 60%, #ac8a44);;
    clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0 100%);
    right: -20%;
}

.main-selection__item:last-child {
    background: linear-gradient(to bottom, #121d2a, 60%, #c59e50);;
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
    right: -2%;
}

.button-readmore {
    margin-top: 1em;
    position: relative;
    left: -1em;
    width: 5em;
    height: 5em;
    background-color: transparent;
    border-style: none;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: #fff;
}

.main-selection__item i {
    transition: transform .2s linear;
}

.main-selection__item:hover i {
    transition: transform .3s ease-in;
    transform: translateY(.2em) scaleY( 1.2);
}

/* Hidden Panels */

.hiddenPanel {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 91%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
}

.hiddenPanel.active {
    z-index: 20;
    transition: opacity .4s ease-out;
    opacity: 1;
}

.hiddenPanel__title {
    width: 35%;
    background-color: rgb(75, 19, 186);
    clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0 100%);
    z-index: 1;
    position: relative;
    right: -18%;
    padding: 1em 2em
}

.hiddenPanel__title h3 {
    font-size: 1.6rem;
    text-align: right;
    color: #fff;
    letter-spacing: 1px
}

.hiddenPanel__content {
    padding: 1em;
    width: 65%;
    background-color: rgb(34, 11, 116);
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
}

.hiddenPanel__content p {
    margin-left: 14%;
    word-break: break-all;
    width: 85%;
    height: 50%;
    color: #fff
}

.hiddenPanel__content p::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    shape-outside: polygon(16% 0, 0 0, 0 100%);
    clip-path: polygon(16% 0, 0 0, 0 100%);
    float: left;
}


/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    background-color: #121d2a;
    font-family: 'Ubuntu', sans-serif;
}

footer ul {
    display: inline-flex;
    width: 75%;
    height: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

footer ul li {
    height: 100%;
    padding: 0 1.5em;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #fff;
    z-index: 10;
}

footer ul i {
    margin-right: .6em;
    font-size: 1.6em;
}

footer ul span {
    font-size: 1.8rem;
    line-height: .9;
    font-weight: 500;
}


footer ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform .3s ease-out;
    transition-delay: .2s;
    z-index: -1;
    background-color: rgba(172, 138, 68, .8);
}

footer ul li:hover::before {
    transform: scale(1);
    transition: transform .3s ease-out;
    transform-origin: center;
}

footer ul:hover i {
    animation: estirarFlecha 1s infinite;
}

@keyframes estirarFlecha {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(1.15);
    }

    100% {
        transform: scaleX(1);
    }
}

.bitcoin-info {
    display: flex;
    background-color: #e7e7e7;
    padding: 1em;
    align-items: center;
    height: 100%;
    color: #121d2a;
}

.bitcoin-info i {
    font-size: 1.6rem;
}

#bitcoinPrice {
    margin-left: .5em;
    font-size: 1.8rem;
    line-height: .9;
    font-weight: 500;
}

#priceArrow {
    margin-left: .5em;
    width: 1.5rem;
    height: 1.5rem;
}

/* Hover */

.main-selection__item:hover {
    filter: brightness(140%);
}

.main-selection__item:hover .main-selection__wrapper {
    transition: opacity .3s ease-in;
    opacity: 1;
}

.main-selection__item:first-child:hover {
    transition: transform .3s ease-out;
    transform: translateX(-14%)
}

.main-selection__item:nth-child(2):hover {
    transition: transform .3s ease-out;
    transform: translateX(-14%)
}

.main-selection__item:last-child:hover {
    transition: transform .3s ease-out;
    transform: translateX(-5%);
}