@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Variables */

:root {
    --gold-clr: rgb(172,138, 68);
    --navy-blue-clr: rgb(18,29,42);
    --medium-gray-clr: rgb(191,190,190);
    --green-clr: #55cd6c;
    --panel-gradient-transparent: linear-gradient(to bottom, rgba(18, 29, 42, .6), 60%, rgba(172, 138, 68, .5));
    --panel-gradient: linear-gradient(to bottom, rgb(18, 29, 42), 60%, rgb(172, 138, 68));
}

/* General Styles */

body {
    width: 100%;
    height: 100%;
    background: url('../img/main-bg.jpg'), linear-gradient(to bottom, rgb(191, 216, 216, .7), 40%, rgba(18, 29, 42, 1) 90%);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

main {
    position: relative;
    width: 100%;
    height: 92vh;
    font-family: 'Ubuntu', sans-serif;

}

img {
    max-width: 100%;;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Class Styles */

.cs-about {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em 3em;
    width: 33%;
    height: 100%;
    z-index: 10;
}

.cs-logo-container {
    display: flex;
    align-items: center;
}

.cs-logo-container img {
    width: 3em;
}

.cs-logo-container h1 {
    margin-left: .3em;
    font-size: 2rem;
    color: #fff;
    flex-shrink: 0;
}

.cs-about__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20em;
}

.cs-about__text h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    color: #ffffff;
}

#bitcoin-bag-svg {
    width: 12em;
}

/* Main */

.panels-container {
    width: 100%;
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 100%;
    right: 0;
    z-index: 20;
}

.selectable-panel {
    position: relative;
    width: 100%;
}

.selectable-panel:first-child {
    z-index: 1;
    right: -26%;
}

.selectable-panel:nth-child(2) {
    z-index: 3;
    right: -13%;
}

.selectable-panel:last-child {
    z-index: 2;
    right: 0;
}

/* Front Panel */

.front-panel {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    padding: 2em 0 3em;
    color: #fff;
    background: var(--panel-gradient-transparent);
    height: 100%;
    clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0 100%);
}

.selectable-panel:last-child .front-panel {
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
}

.front-panel img {
    position: absolute;
    width: 40%;
    right: 25%;
    bottom: 8%;
}

#capacitateIcono {
    display: none;
}

.front-panel__wrapper {
    width: 57%;
    height: 100%;
}

.front-panel__wrapper--last {
    display: grid;
    grid-template-rows: repeat(2, min-content) 85%;
}

.front-panel__title {
    text-transform: uppercase;
    font-size: 1.45rem;
    color: #fff;
}

.front-panel__subtitle {
    position: relative;
    top: .4em;
    left: -1%;
    text-transform: uppercase;
    font-size: 1.1rem;
    max-width: 90%;
    color: rgba(255,255,255,.8);
}

.front-panel form {
    align-self: flex-end;
    border-radius: 15px;
    filter: brightness(50%) contrast(80%);
}

/* Content Panel */

.content-panel {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2em 0;
    top: 0;
    opacity: 0;
    overflow: hidden;
    height: 100%;
    width: 120%;
    right: 0;
    clip-path: polygon(33% 0, 100% 0%, 67% 100%, 0 100%);
    transition: opacity .2s linear, transform .2s linear;
    transform: translateX(10%);
}

.content-panel--last {
    width: 100%;
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
}

.content-panel__wrapper {
    width: 70%;
    height: 100%;
    color: #fff;
}

.content-panel__wrapper--last {
    width: 55%;
}

.content-panel video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .2;
}

.content-panel h3 {
    position: relative;
    left: 15%;
    text-transform: uppercase;
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 1.4em;
}

.content-panel h4 {
    position: relative;
    font-size: 1.4rem;
    margin-bottom: .3em;
    max-width: 60%;
}

.bent-paragraph {
    height: 9em;
    max-width: 80%;
}

.content-panel p {
    line-height: 1.3;
    max-width: 80%;
    font-size: 1.1rem;
    margin-bottom: 1em;
}

.content-panel--last p {
    max-width: 90%;
}

.content-panel ul {
    margin-bottom: 2em;
}

.content-panel ul li {
    font-size: 1.1rem;
    margin: .5em;
    color: #fafdd4;
}

.bent-paragraph::before {
    content: "";
    float: left;
    width: 5em;
    height: 9em;
    background-color: transparent;
    shape-outside: polygon(45% 0, 0 0, 0 100%);
    clip-path: polygon(45% 0, 0 0, 0 100%);
}

.whatsapp-container {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    max-width: 60%;
    border-radius: 10px;
    border: 1.5px solid var(--gold-clr);
    background-color: var(--green-clr);
    box-shadow: 2px 2px 3px var(--gold-clr);
}

.whatsapp-container img {
    height: 1.6em;
    margin-right: .5em;
}

.whatsapp-container span {
    font-size: 1.4rem;
    font-weight: 700;
}

.whatsapp-container:hover {
    transition: opacity .2s linear;
    opacity: .8;
}

.email {
    position: absolute;
    left: 0;
    padding: 1em 4em;
    border-radius: 5px;
    display: block;
    font-size: 1.2rem;
    margin-top: 1em;
    background-color: var(--navy-blue-clr);
    color: var(--gold-clr);
    transition: background-color .3s ease-out, color .3s;
    text-align: center;
    width: 100%;
}

.email:hover {
    background-color: var(--gold-clr);
    color: #fff;
}

.redes {
    display: flex;
    width: 60%;
    background-color: var(--gold-clr);
    padding: 1em 2em;
    border-radius: 10px 0 0 10px;
}

.redes a {
    width: 2.5em;
    flex-shrink: 0;
    transition: transform .3s ease-out;
}

.redes > a + a {
    margin-left: 2em;
}

.redes a:hover {
    transition: transform .3s ease-out;
    transform: scale(1.1);
}

.redes img {
    width: 2.5em;
}

/* Video Panel */

.video-panel {
    position: absolute;
    top: 0;
    opacity: 0;
    background: var(--panel-gradient);
    overflow: hidden;
    height: 100%;
    width: 100%;
    clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0 100%);
    animation: shrinkPanel .2s linear;
}

.video-panel--last {
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
    transition: opacity .4s ease-in;
    animation: none;
}

.video-panel video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .2;
}

/* Crew Card */

.crew-card {
    width: 100%;
    cursor: pointer;
    position: relative;
    border: 2px solid rgb(172,138, 68);
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

.crew-card > img {
    object-fit: cover;
    object-position: 50% 0%;
    width: 100%;
    height: 100%;
}

.crew-card__front {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity .3s linear;
}

.crew-card__name {
    position: absolute;
    font-size: 1.2rem;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: rgba(18, 29, 42, .6);
}

.crew-card__name img {
    margin-right: .6em;
    width: .7em;
}

.crew-card__name h3 {
    padding: .4em;
}

.crew-card__name p {
    width: 100%;
    padding: .3em;
    background-color: rgba(18, 29, 42, .6);
}

.crew-card__back {
    opacity: 0;
    transition: opacity .1s linear;
    position: absolute;
    background: rgba(18, 29, 42, .7);
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: center;
}

.crew-card__back .crew-card__name {
    position: relative;
    top: 0;
}

.crew-card__about {
    padding: .5em 1em;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.3;
    text-align: center;
}

.crew-card__social {
    display: flex;
    justify-content: space-around;
    padding: .5em 2em;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.crew-card__social a {
    width: 1.8em;
}

/* Crew Card Hover */

.crew-card:hover {
    background-color: rgba(134, 134, 134, 0.4);
}

.crew-card:hover .crew-card__front {
    transition: opacity .1s linear;
    opacity: 0;
}

.crew-card:hover .crew-card__back {
    opacity: 1;
    transform: scale(1);
    transition: transform .4s ease-out, opacity .7s ease-out;
    z-index: 20;
}

/* Modal Window */

.modalWindow {
    display: flex;
    z-index: -10;
    opacity: 0;
    transition: opacity .3s ease-in;
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    background-color: rgba(172, 138, 68, 0);
}

.modalWindow.active {
    display: flex;
    z-index: 50;
    transition: opacity .5s linear;
    opacity: 1;
}

.modalWindow .content-panel {
    background: var(--panel-gradient);
    transform: none;
    position: relative;
    width: 40%;
    opacity: 1;
}

.modalWindow .content-panel__wrapper {
    width: 90%;
    opacity: 1;
}

.modalWindow > .content-panel h3 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: none;
    background-color: var(--navy-blue-clr);
    padding: .6em;
}

.modalWindow__content {
    position: absolute;
    right: 0;
    padding: 2em 2em 2em 18%;
    width: 76%;
    height: 100%;
    background: var(--panel-gradient);
}

.modalWindow__category {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-gap: 1em;
}

.modalWindow__category:first-child, .modalWindow__category:nth-child(2) {
    grid-template-columns: repeat(2, 1fr);
}

.modalWindow__category.active {
    display: grid;
}

#goBackButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navy-blue-clr);
    width: 100%;
    padding: .3em 7em;
    transition: filter .3s ease-out;
    cursor: pointer;
}

#goBackButton span {
    font-size: 2.2em;
    color: #fff;
}

#goBackButton:hover {
    transition: filter .4s ease-out;
    filter: brightness(120%);
}

.slide-buttons {
    display: none;
}

.team-panel {
    font-size: 1.7rem;
    text-align: center;
}

.team-panel__option {
    position: relative;
    padding: .3em 1em;
    cursor: pointer;
    width: 100%;
    transition: transform .5s ease-out, filter .5s linear;
    transition-delay: .3s;
    background-color: var(--gold-clr);
    border-bottom: 3px solid var(--medium-gray-clr);
    font-weight: 700;
    margin-bottom: .3em;
    z-index: 20;
}

.team-panel__option::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navy-blue-clr);
    transform: scale(0);
    transform-origin: left center;
    transition: transform .2s linear;
    z-index: -1;
}

.team-panel__option:hover::after {
    transform: scale(1);
    transition: transform .4s ease-out;
}


/* Subscription Form */

.formularioSubscripcion {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    text-transform: uppercase;
}

.formularioSubscripcion label {
    font-size: 1.2rem;
    margin-bottom: .5em;
}

.formularioSubscripcion input {
    margin-bottom: .8em;
    padding: .5em;
    border-radius: 4px;
    border: none;
    outline: none;
}

.formularioSubscripcion input:hover {
    outline: 2px solid var(--gold-clr)
}

.formularioSubscripcion button {
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: .3em;
    background-color: var(--gold-clr);
    font-size: 1.2rem;
    color: #fff;
    padding: .5em 1em;
    text-transform: uppercase;
}

.formularioSubscripcion button:hover {
    transition: filter .3s ease-out;
    filter: brightness(120%);
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 8vh;
    width: 100%;
    background-color: rgba(191,190,190,.2);
    border-top: 1px solid var(--gold-clr);
    font-family: 'Ubuntu', sans-serif;
}

footer ul {
    display: inline-flex;
    height: 100%;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

footer ul li {
    height: 100%;
    padding: 0 1.5em;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #fff;
    z-index: 10;
}

footer ul img {
    margin-right: .6em;
    width: 1.7em;
}

footer ul span, footer ul a {
    font-size: 1.8rem;
    line-height: .9;
    font-weight: 500;
}


footer ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: transform .4s ease-out;
    transition-delay: .2s;
    transform-origin: center;
    z-index: -1;
    background-color: var(--gold-clr);
}

footer ul li:hover::before {
    transform: scale(1);
    transition: transform .2s ease-out;
    transform-origin: center;
}

.coin-info {
    display: flex;
    background-color: #e7e7e7;
    height: 100%;
    color: var(--navy-blue-clr);
}

.coin-info__name {
    display: flex;
    align-items: center;
    padding: 1em 1.5em;
    border-left: 1px solid var(--gold-clr);
}

.coin-info img {
    height: 2em;
}

.coinPrice {
    margin-left: .6em;
    font-size: 1.8rem;
    line-height: .9;
    font-weight: 500;
    flex-shrink: 0;
}

.priceArrow {
    margin-left: .6em;
    width: 1.5rem;
    height: 1.5rem;
}

/* Hover */

.selectable-panel:hover .content-panel {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity .6s ease-in, transform .5s ease-out;
}

.selectable-panel:hover .video-panel {
    animation: expandPanel .5s ease-out;
    animation-fill-mode: forwards;
    opacity: 1;
}

.selectable-panel:hover .video-panel--last {
    animation: none;
}

@keyframes expandPanel {
    from {
        right: 0;
        width: 100%;
        opacity: 0;
        transition: opacity .4s ease-in;
    }
    to {
        right: 0;
        width: 120%;
        clip-path: polygon(33% 0, 100% 0%, 67% 100%, 0 100%);
        opacity: 1;
    }
}

@keyframes shrinkPanel {
    from {
        right: 0;
        width: 120%;
        clip-path: polygon(33% 0, 100% 0%, 67% 100%, 0 100%);
        opacity: 1;
        transition: opacity .6s linear;
    }
    to {
        right: 0;
        width: 100%;
        clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0 100%);
        opacity: 0;
    }
}

/* Media Queries */

@media screen and (max-width: 920px) {

body {
    background-position: 50% 0%;
    background-size: cover;
}

main {
    height: 100%;
}

.cs-about {
    width: 100%;
    position: relative;
}

.cs-about__text {
    margin: 3em 0 1.5em;
}

#bitcoin-bag-svg {
    display: none;
}

.panels-container {
    flex-direction: column;
    position: relative;
}

.selectable-panel:first-child,
.selectable-panel:nth-child(2),
.selectable-panel:last-child {
    right: 0;
}

.selectable-panel:last-child .front-panel, .front-panel {
    clip-path: none ;
    align-items: flex-start;
    padding: 2.5em 1.2em;
}

.front-panel__subtitle {
    left: 0;
}

.front-panel img {
    right: 10%;
    bottom: 10%;
    width: 25%;
}

.front-panel .formularioSubscripcion {
    display: none;
}

.video-panel {
    z-index: -1;
    clip-path: none;
}

.selectable-panel:hover .video-panel {
    animation: none;
    animation-fill-mode: none;
}

.content-panel, .content-panel--last {
    transform: scaleY(0);
    clip-path: none;
    padding: 2em 0;
    overflow: visible;
    height: auto;
}

.selectable-panel:hover .content-panel {
    position: relative;
    transition: transform .4s ease-out;
    transform-origin: top;
    transform: scaleY(1);
    clip-path: none;
    animation: none;
    top: 100%;
}

.selectable-panel .content-panel__wrapper {
    width: 95%;
}

.content-panel h3 {
    left: 0;
}

.bent-paragraph::before {
    display: none;
}

.email {
    background-color: var(--gold-clr);
    color: #fff;
    position: relative;
    padding: 2em 1em;
}

#capacitateIcono {
    display: inline-block;
}

.modalWindow {
    display: none;
    flex-direction: column;
    width: 100%;
}

.modalWindow__category {
    grid-gap: 0;
    gap: 0;
}

.modalWindow .content-panel {
    transform: none;
    width: 100%;
}

.modalWindow .content-panel__wrapper {
    width: 100%;
    height: auto;
}

.modalWindow__content {
    position: relative;
    width: 100%;
    padding: 1em;
}

.modalWindow__category.active {
    display: flex;
}

.crew-card {
    min-height: 16em;
}

.team-panel {
    display: flex;
}

.team-panel__option::after {
    background-color: var(--gold-clr);
    transform-origin: top;
    filter: brightness(120%);
}

footer {
    flex-direction: column;
    height: 100%;
}

footer ul {
    flex-direction: column-reverse;
    width: 100%;
    padding: 1em 0;
}

footer ul li {
    padding: 1.4em;
    width: 100%;
}

footer ul li img {
    margin-right: 1em;
}

.coin-info {
    width: 100%;
    flex-direction: column;
}

.coin-info__name {
    justify-content: center;
    border-left: none;
    border-bottom: 1px solid var(--gold-clr);
}

.redes {
    width: 100%;
    border-radius: 0px;
    justify-content: center;
}

.slide-buttons {
    display: block;
}

.slide-buttons img {
    width: 3em;
}

.slide-buttons img:first-child {
    transform: rotateY(180deg);
}

#goBackButton {
    padding: .2em;
}

#goBackButton span {
    font-size: 1.2em;
}

}

@media screen and (max-width: 1500px) {

    .content-panel__wrapper {
        width: 72%;
    }

    .content-panel__wrapper .email {
        text-align: left;
    }

    .content-panel__wrapper--last {
        width: 60%;
    }

}

@media screen and (min-width: 1600px) {

    .cs-about {
        padding: 3em;
    }

    .cs-logo-container img {
        width: 3.5em;
    }

    .cs-logo-container h1 {
        font-size: 2.5rem;
    }

    .cs-about__text {
        max-width: 24em;
    }

    .cs-about__text h2 {
        font-size: 2.5rem;
    }

    #bitcoin-bag-svg {
        width: 15em;
    }

    .crew-card__social a {
        width: 2.5em;
    }
}